doctype html
head
  title Meatcam
  meta(charset='utf-8')

body
  .wrapper
    form(method='post', action='/')
      input(type='text', maxlength='250', placeholder='Send a message')
      input(type='submit', value='Send')
