doctype html
head
  title Meatcam
  meta(charset='utf-8')

body
  .wrapper
    form(method='post', action='/')
      input(type='text', name='message', maxlength='250')
      input(type='submit', value='Send Message')
